{{ define "main" }}
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-child-width-1-1 uk-grid-match" uk-grid>
                {{ range .Params.gallery }}
                <div class="uk-slider-container-offset" uk-slider>

                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                
                        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="{{ .before }}" alt="">
                                    </div>
                                    <div class="uk-card-body" style="background: white; padding:10px">
                                        <h3 class="uk-card-title">Before</h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="{{ .after }}" alt="">
                                    </div>
                                    <div class="uk-card-body" style="background: white; padding:10px">
                                        <h3 class="uk-card-title">After</h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                
                    </div>
                
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                
                </div>
                {{ end }}
        </div>
    </div>
</div>
{{ end }}