{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-3@s uk-grid-match" uk-grid uk-lightbox>
                {{ range .Params.gallery }}
                    <a href="{{ . }}">
                        <div>
                            <div class="uk-card-media-top">
                                <img src="{{ . }}" alt="">
                            </div>
                        </div>
                    </a>
                {{ end }}
        </div>
    </div>
</div>
{{ end }}