<div class="uk-section-primary uk-preserve-color uk-cover-container" uk-height-viewport style="background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('uploads/splash3.jpg') no-repeat center; background-size:cover">

{{ partial "global/navbar" . }}

    <div class="uk-section uk-section-large uk-margin-medium-top">
        <div class="uk-container">
            <div class="uk-grid-large uk-flex uk-flex-middle" uk-grid>
                <div class="hero-text uk-light uk-width-3-5">
                    <h4>Let us help you</h4>
                    <h1 class="uk-text-bold heading">Find The Perfect Dream Home</h1>
                    <p class="uk-text-normal">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est illo nobis necessitatibus, soluta non, tempora, commodi ipsa quis modi sequi at odit eos inventore nostrum ducimus itaque quam provident ratione?</p>
                    <a href="" class="uk-button-secondary uk-button">Search Homes</a>
                </div>
                <div class="uk-margin-auto uk-width-expand">
                    <div class="hero-form uk-padding uk-text-center">
                        <h4>Send an Inquiry</h4>
                        <form class="uk-form-stacked">
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Name">
                                </div>
                            </div>
                        
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Email">
                                </div>
                            </div>
                        
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-secondary uk-width-1-1">Submit Inquiry</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>